<tr>
    <td>
        <select class="ingredient-id form-control">
            <option value="">---</option>
            {% for ingredient in ingredients  %}
                <option value="{{ ingredient.id }}">
                    {{ ingredient.name }}
                </option>
            {% endfor %}
        </select>
    </td>
    <td>
        <input type="number" class="ingredient-quantity form-control">
    </td>
    <td>
        <button type="button" class="btn btn-lg btn-danger " onclick="$(this).closest('tr').remove();">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </td>
</tr>