#base-dropdown {
    float: left;
}

.multi-menu {
    margin-bottom: 15px;
}

#send-products {
    margin-top: 10px;
}

#add-product, #link-create-ingredient {
    margin-bottom: 10px;
}

.dropdown-menu li a {
    padding: 15px;
}

#current-menus, #next-menus {
    margin-bottom: 25px;
}